
/* IMG */
.me {
    background-image: linear-gradient(45deg, var(--color-light), var(--color-white));
    height: 13rem;
    width: 100em;
    /*transform: skewY(-3deg);*/
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.bluebar__top {
    margin-left: auto;
    margin-right: auto;
    margin-top: 4.5rem;
    margin-bottom: 0;
    background-image: linear-gradient(45deg, var(--osk-games-color-1), var(--osk-games-color-2));
    height: 1.5rem;
    width: 100em;
    text-align: center;
    /*transform: skewY(-3deg);*/
}

.blackbar__top {
    margin-left: auto;
    margin-right: auto;
    background-color: black;
    height: 7rem;
    width: 7em;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    /*transform: skewY(-3deg);*/
}

.me__content {
    margin-left: auto;
    margin-right: auto;
    width: 45em;
	margin: 0 auto;
    transform: translateY(-23%);
}

.background {
    background-color: rgb(1, 1, 37);
}

.bold {
    font-weight: bold;
    font-size: 4em;
    color: aliceblue;
    margin-left: 1em;
    margin-top: 0.5em;
}

.subbold {
    font-size: 1.5em;
    color: rgb(187, 187, 187);
    margin-left: 2em;
    margin-top: 0.5em;
    margin-bottom: 0;
}

.content {
    margin-left: 8em;
    margin-right: 8em;
    margin-bottom: 15em;
}
